page-transaction {

}

.fab{
  margin-top: 20px;
}

.arrow{
  margin-top: 70px;
  margin-left: 70px;
}

.amount{
  margin-top: 80px;
  align-self: left;
  text-align: left;
}

.date{
  margin-top: 40px;
  align-self: left;
  text-align: left;
}

.confirm{
  margin-top: 80px;
  width: 200px;
  align-self: center;
}
