<!--
  Generated template for the TransHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

#List of transactions by week, month and year


<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Account History
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides pager class="slide">
    <ion-slide *ngFor="let slide of slides">
      <!-- <ion-toolbar>
        <ion-buttons end>
          <button ion-button color="primary">Skip</button>
        </ion-buttons>
      </ion-toolbar> -->
      <img [src]="slide.image" class="slide-image"/>
    </ion-slide>
  </ion-slides>

  <ion-item style="margin-top: -1px; background-color:#234191; color: #ffffff">
    <ion-label style="text-align: left">Date</ion-label>
    <ion-select [(ngModel)]="day">
      <ion-option value="01">01</ion-option>
      <ion-option value="02">02</ion-option>
      <ion-option value="03">03</ion-option>
      <ion-option value="04">04</ion-option>
      <ion-option value="05">05</ion-option>
      <ion-option value="06">06</ion-option>
      <ion-option value="07">07</ion-option>
      <ion-option value="08">08</ion-option>
      <ion-option value="09">09</ion-option>
      <ion-option value="10">10</ion-option>
      <ion-option value="11">11</ion-option>
      <ion-option value="12">12</ion-option>
      <ion-option value="13">13</ion-option>
      <ion-option value="14">14</ion-option>
      <ion-option value="15">15</ion-option>
      <ion-option value="16">16</ion-option>
      <ion-option value="17">17</ion-option>
      <ion-option value="18">18</ion-option>
      <ion-option value="19">19</ion-option>
      <ion-option value="20">20</ion-option>
      <ion-option value="21">21</ion-option>
      <ion-option value="22">22</ion-option>
      <ion-option value="23">23</ion-option>
      <ion-option value="24">24</ion-option>
      <ion-option value="25">25</ion-option>
      <ion-option value="26">26</ion-option>
      <ion-option value="27">27</ion-option>
      <ion-option value="28">28</ion-option>
      <ion-option value="29">29</ion-option>
      <ion-option value="30">30</ion-option>
      <ion-option value="31">31</ion-option>
    </ion-select>
    <ion-select [(ngModel)]="month">
      <ion-option value="January">January</ion-option>
      <ion-option value="February">February</ion-option>
      <ion-option value="March">March</ion-option>
      <ion-option value="April">April</ion-option>
      <ion-option value="May">May</ion-option>
      <ion-option value="June">June</ion-option>
      <ion-option value="July">July</ion-option>
      <ion-option value="August">August</ion-option>
      <ion-option value="September">September</ion-option>
      <ion-option value="October">October</ion-option>
      <ion-option value="November">November</ion-option>
      <ion-option value="December">December</ion-option>
    </ion-select>
    <ion-select [(ngModel)]="year">
      <ion-option>2019</ion-option>
      <ion-option>2018</ion-option>
      <ion-option>2017</ion-option>
      <ion-option>2016</ion-option>
      <ion-option>2015</ion-option>
      <ion-option>2014</ion-option>
      <ion-option>2013</ion-option>
      <ion-option>2012</ion-option>
      <ion-option>2011</ion-option>
      <ion-option>2010</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngFor="let item of items" class="historylists">
    {{item}}
  </ion-item>


</ion-content>
