page-settings {

  .item{
    text-align: left;
    margin-top: 1%;
  }
  .list-header{
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1%;
    font-family: "Arial";
  }
.text{
  margin-left: 6%;
}
}
