/**
* CSS style for account-creation page
*/

page-account-creation {

}
.tutorial-page {

    .toolbar-background {
      background: #fff;
      border-color: transparent;
    }
    .slide-title {
      padding: 0%;
      margin: -20%;
    }
  
    .slide-image {
      max-height: 200px;
      max-width: 60%;
      margin-top: 0px;
    }
  
  }
.aboutpage{
  max-height: 500px;
}
.countine_button{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 260px;
  height: 45px;
  margin-top: 18px;
  font-size: large;
}
