
$font-path: "../assets/fonts";
$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary: #234191,
  secondary: #8fb6fc,
  danger:     #f53d3d,
  light: #e5edf4,
  dark: #141e22
);

$toolbar-md-background: color($colors, primary);

$tabs-md-background: color($colors, primary);
$tabs-md-tab-color-active: color($colors, light);
$tabs-md-tab-color: color($colors, light);
$tabs-md-tab-text-color: color($colors, light);

$list-md-background-color: color($colors, primary);
$list-md-text-color: color($colors, light);


@import "ionic.theme.default";

@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";
