page-account1 {
  .firstName{
    margin-top: 20px;
    align-self: left;
    text-align: left;
  }

  .lastName{
    margin-top: 20px;
    align-self: left;
    text-align: left;
  }

  .accNum{
    margin-top: 20px;
    align-self: left;
    text-align: left;
  }

  .balance{
    margin-top: 20px;
    align-self: left;
    text-align: left;
  }
}
