page-confirm-trans {

}

.confirmMsg{
  background-color: color($colors, primary);
  height: 200px;
  color: color($colors, light);
  padding-left: 30px;
  padding-top: 75px;
}


.button1{
  align-self: center;
}
