page-create-account {
  .form{
    width: 100%;
    font-size: 20px;
  }
  .occupation{
    text-align: left;
    color: #8c8c8c;
  }
  .back{
     margin-left: 15px;
      margin-top: 80px;
      width: 40%;
      align-self: center;
  }
  .form-confirm{
    margin-left: 35px ;
    margin-top: 80px;
    width: 40%;
    align-self: center;
  }
}
